<div class="title">
    <div class="btn ">
        <input type="submit" class="btn-back btn-medium no-margin"
               onclick="window.location='#/listado_ofertas';"
               value="">
        <label>Volver</label>
    </div>
    <h1>Administrar Ofertas</h1>
</div>
<div class="v-spacer"></div>
<div ng-controller="OfertasController  as ofertasCtrl"
     name="productForm">
    <div><h1 style="margin-bottom: 20px; border: solid 0px; border-bottom-width: 1px; border-bottom-color: rgba(200,200,200, 0.5);">Oferta
        1</h1><br/>

        <div>
            <div class="form-flex">

                <div>
                    <input type="text" id="nombre" name="nombre" ng-model="ofertasCtrl.oferta_01.titulo"
                           ng-maxlength="45"
                           required><br>
                    <label for="nombre">Nombre</label>
                </div>

                <div>
                    <input type="text" style="width: 600px;" id="descripcion" name="descripcion"
                           ng-model="ofertasCtrl.oferta_01.descripcion"
                           ng-maxlength="2000" required><br>
                    <label for="descripcion">Descripción</label>
                </div>

                <div>
                    <input id="precio_minorista" type="number" ng-model="ofertasCtrl.oferta_01.precio" required/>
                    <br>
                    <label for="precio_minorista">Precio</label>
                </div>
            </div>
            <div><h3>Producto a incluir en la oferta y foto</h3><br/>
            </div>
            <div class="line">

                <div>
                    <ac-search-panel
                            obj="ofertasCtrl.oferta_01.producto[0]"
                            obj-name="ofertasCtrl.oferta_01.producto[0].nombre"
                            nombref="cajasForm"
                            nombre="02"
                            nombre-visible="Producto"
                            font-size="32"
                            width="200"
                            func="ofertasCtrl.fn_productos"
                            extra-filter="s">
                    </ac-search-panel>
                </div>
                <div class="line">
                    <div>
                        <input type="file" name="images" id="images"
                               data-dbinf-on-files-selected-ofertas="agregarImagen(selectedFileList, 1)"/>
                    </div>

                    <div ng-bind="ofertasCtrl.oferta_01.imagen"></div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <div><h1 style="margin-bottom: 20px; border: solid 0px; border-bottom-width: 1px; border-bottom-color: rgba(200,200,200, 0.5);">
        Oferta 2</h1><br/>

        <div>
            <div class="form-flex">
                <div>
                    <input type="text" id="nombre" name="nombre" ng-model="ofertasCtrl.oferta_02.titulo"
                           ng-maxlength="45"
                           required><br>
                    <label for="nombre">Nombre</label>
                </div>

                <div>
                    <input style="width: 600px;" type="text" id="descripcion" name="descripcion"
                           ng-model="ofertasCtrl.oferta_02.descripcion"
                           ng-maxlength="2000" required><br>
                    <label for="descripcion">Descripción</label>
                </div>

                <div>
                    <input id="precio_minorista" type="number" ng-model="ofertasCtrl.oferta_02.precio" required/>
                    <br>
                    <label for="precio_minorista">Precio</label>
                </div>
            </div>
            <div><h3>Producto a incluir en la oferta y foto</h3><br/>
            </div>
            <div class="line">

                <div>
                    <ac-search-panel
                            obj="ofertasCtrl.oferta_02.producto[0]"
                            obj-name="ofertasCtrl.oferta_02.producto[0].nombre"
                            nombref="cajasForm"
                            nombre="02"
                            nombre-visible="Producto"
                            font-size="32"
                            width="200"
                            func="ofertasCtrl.fn_productos"
                            extra-filter="s">
                    </ac-search-panel>
                </div>
                <div class="line">
                    <div>
                        <input type="file" name="images" id="images"
                               data-dbinf-on-files-selected-ofertas="agregarImagen(selectedFileList, 2)"/>
                    </div>

                    <div ng-bind="ofertasCtrl.oferta_02.imagen"></div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <div><h1 style="margin-bottom: 20px; border: solid 0px; border-bottom-width: 1px; border-bottom-color: rgba(200,200,200, 0.5);">
        Oferta 3</h1><br/>

        <div>
            <div class="form-flex">
                <div>
                    <input type="text" id="nombre" name="nombre" ng-model="ofertasCtrl.oferta_03.titulo"
                           ng-maxlength="45"
                           required><br>
                    <label for="nombre">Nombre</label>
                </div>

                <div>
                    <input style="width: 600px;" type="text" id="descripcion" name="descripcion"
                           ng-model="ofertasCtrl.oferta_03.descripcion"
                           ng-maxlength="2000" required><br>
                    <label for="descripcion">Descripción</label>
                </div>

                <div>
                    <input id="precio_minorista" type="number" ng-model="ofertasCtrl.oferta_03.precio" required/>
                    <br>
                    <label for="precio_minorista">Precio</label>
                </div>
            </div>
            <div><h3>Producto a incluir en la oferta y foto</h3><br/>
            </div>
            <div class="line">

                <div>
                    <ac-search-panel
                            obj="ofertasCtrl.oferta_03.producto[0]"
                            obj-name="ofertasCtrl.oferta_03.producto[0].nombre"
                            nombref="cajasForm"
                            nombre="03"
                            nombre-visible="Producto"
                            font-size="32"
                            width="200"
                            func="ofertasCtrl.fn_productos"
                            extra-filter="s">
                    </ac-search-panel>
                </div>
                <div class="line">
                    <div>
                        <input type="file" name="images" id="images"
                               data-dbinf-on-files-selected-ofertas="agregarImagen(selectedFileList, 3)"/>
                    </div>

                    <div ng-bind="ofertasCtrl.oferta_03.imagen"></div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <div><h1 style="margin-bottom: 20px; border: solid 0px; border-bottom-width: 1px; border-bottom-color: rgba(200,200,200, 0.5);">
        Oferta 4</h1><br/>

        <div>
            <div class="form-flex">
                <div>
                    <input type="text" id="nombre" name="nombre" ng-model="ofertasCtrl.oferta_04.titulo"
                           ng-maxlength="45"
                           required><br>
                    <label for="nombre">Nombre</label>
                </div>

                <div>
                    <input style="width: 600px;" type="text" id="descripcion" name="descripcion"
                           ng-model="ofertasCtrl.oferta_04.descripcion"
                           ng-maxlength="2000" required><br>
                    <label for="descripcion">Descripción</label>
                </div>

                <div>
                    <input id="precio_minorista" type="number" ng-model="ofertasCtrl.oferta_04.precio" required/>
                    <br>
                    <label for="precio_minorista">Precio</label>
                </div>
            </div>
            <div><h3>Producto a incluir en la oferta y foto</h3><br/>
            </div>
            <div class="line">

                <div>
                    <ac-search-panel
                            obj="ofertasCtrl.oferta_04.producto[0]"
                            obj-name="ofertasCtrl.oferta_04.producto[0].nombre"
                            nombref="cajasForm"
                            nombre="04"
                            nombre-visible="Producto"
                            font-size="32"
                            width="200"
                            func="ofertasCtrl.fn_productos"
                            extra-filter="s">
                    </ac-search-panel>
                </div>
                <div class="line">
                    <div>
                        <input type="file" name="images" id="images"
                               data-dbinf-on-files-selected-ofertas="agregarImagen(selectedFileList, 4)"/>
                    </div>

                    <div ng-bind="ofertasCtrl.oferta_04.imagen"></div>
                </div>
            </div>

        </div>
    </div>
    
    <div>
        <!--<input type="submit"-->
        <!--ng-disabled="productForm.user.$dirty && productForm.user.$invalid ||-->
        <!--productForm.email.$dirty && productForm.email.$invalid">-->
        <div class="btn">
            <button ng-click="ofertasCtrl.save();" class="relieve-2 btn-ok btn-big" value=""></button>
            <label>Guardar Oferta</label>
        </div>

    </div>

</div>

